.btn {
  display: inline-block;
  font-weight: 600;
  color: #677788;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  color: #e39a1b;
  background-color: #fff;
  border-color: #e39a1b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #1164ff;
  border-color: #045cff;
  box-shadow: 0 0 0 0.2rem rgba(85, 145, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #377dff;
  border-color: #377dff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #000;
  border-color: #0056f6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(85, 145, 255, 0.5);
}

/*------------------------------------
  Custom Buttons
------------------------------------*/
/* primary button :hover, :focus, :active effects */
.btn-primary[href]:hover,
.btn-primary[href]:focus,
.btn-primary[href]:active,
.btn-primary[type]:hover,
.btn-primary[type]:focus,
.btn-primary[type]:active {
  background-color: #000;
  border-color: #fff;
  box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
}

.btn-primary:not(label.btn),
.btn-primary:not(label.btn):not([href]):not(:disabled):not(.disabled),
.btn-primary:not([href]),
.btn-primary:not([href]):not([href]):not(:disabled):not(.disabled) {
  background-color: #fff;
  border-color: #e39a1b;
}

/* Navbar color */
.nav-link-toggle::after {
  color: #e39a1b;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.header .navbar-nav .dropdown-item:hover {
  color: #e39a1b !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-top: 0.1875rem solid #e39a1b;
}
